.env
credentials/
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
.mypy_cache/
# data/lake/
mlflow.db
mlruns/
*.parquet
.DS_Store
.idea/
.vscode/
node_modules/
frontend/dist/
